{% extends 'base.html.twig' %}

{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ asset('build/img/action-blur-close-up-73591.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Serwis poświęcony</h1>
            <span class="subheading">Treściom o Cyberbezpieczeństwie</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
{% for article in articles %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{{ path('app_article', {slug: article.slug}) }}">
            <h2 class="post-title">
              {{ article.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ article.subtitle }}
            </h3>
          </a>
          <p class="post-meta">Dodał(a)
            <a href="#">Autor Anonimowy</a>
            <br>
              {{ article.publishedAt | date('d.m.Y')}}
           </p>
        </div>
        <div class="clearfix">
          <a class="btn btn-light float-right" href="#">Czytaj dalej &rarr;</a>
        </div>
      </div>
    </div>
  <hr>
  {% endfor %}
{% endblock %}


