{% extends 'base.html.twig' %}

{% block title %}Artykuły | Cyberbezpiecznyblog{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link href="{{ asset('build/css/pagination.css') }}" rel="stylesheet">
    {% endblock %}
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        {% if articles is empty %}
                            <span class="subheading">Nie znaleziono artykułu "{{ q }}"</span>
                        {% else %}
                            <span class="subheading">Wyszukane artykuły</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Articles -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for article in pagination %}
                    <article>
                        <div class="post-preview">
                            <a href="{{ path('app_article', {slug: article.slug}) }}">
                                <h2 class="post-title">
                                    {{ article.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{ article.subtitle }}
                                </h3>
                            </a>
                            <p class="post-meta">Dodał(a)
                                {{ article.author.fullname }}
                                <br>
                                {{ article.publishedAt | date('d.m.Y') }}
                            </p>
                        </div>
                        <div class="clearfix">
                            <a class="btn btn-light float-right" href="{{ path('app_article', {slug: article.slug}) }}">Czytaj
                                dalej &rarr;</a>
                        </div>
                        <hr>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="pagination justify-content-center">
                    {{ knp_pagination_render(pagination) }}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}