{% extends 'base.html.twig' %}

{% block title %}Hello CreateArticleController!{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Napisz coś</h1>
                        <span class="subheading">Związanego z bezpieczeństwem w sieci</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto text-center">
                <p>Opublikuj artykół dotyczący Cyberbezpieczeństwa</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->

                    {{ form_start(articleForm) }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {{ form_row(articleForm.title, {
                               attr: { placeholder: 'Tytół' }
                            }) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {{ form_row(articleForm.content, {
                                attr: { placeholder: 'Treść',
                                        rows: '10', cols: '50'}
                            }) }}
                            <br>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                <br>



                    <div class="form-group">
                        {{ form_row(articleForm.publikuj, {
                            'attr': {'class': 'btn btn-dark'}
                        }) }}
                    </div>
                    {{ form_end(articleForm) }}

            </div>
        </div>
    </div>

    <hr>

{% endblock %}
