{# Widok odpwiedzialny za wyświetlanie listy najnowszych artykułów #}
{# Blok rozszerzający bazę widoków #}
{% extends 'base.html.twig' %}

{# Blok tytułowy strony #}
{% block title %}Najnowsze | Cyberbezpiecznyblog{% endblock %}

{# Blok <body> strony #}
{% block body %}

    {# Blok styli CSS do ustawienia paginacji na stronie #}
    {% block stylesheets %}
        <link href="{{ asset('build/css/pagination.css') }}" rel="stylesheet">
    {% endblock %}

    {# Nagłówek strony wraz ze zdjęciem #}
    <header class="masthead" style="background-image: url('{{ asset('build/img/closeup-photo-of-black-and-blue-keyboard-1194713.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <p></p>
                        <span class="subheading">Najnowsze artykuły</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {# Kontener wyświetlający listę artykułów #}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {# Pętla zapętlająca artykułt w paginacji #}
                {% for article in pagination %}
                    <article>
                        <div class="post-preview">

                            {# Link przekierowujący do konkretnego artykułu #}
                            <a href="{{ path('app_article', {slug: article.slug}) }}">
                                <h2 class="post-title">
                                    {# Tytuł artykułu #}
                                    {{ article.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {# Podtytuł artykułu #}
                                    {{ article.subtitle }}
                                </h3>
                            </a>
                            <p class="post-meta">
                                {# Nazwa autora artykułu #}
                                <i class="fa fa-user" ></i>
                                {{ article.author.firstname }}
                                {{ article.author.lastname }}

                                {# Data publikacji artykułu #}
                                <i class="fa fa-calendar"></i>
                                {{ article.publishedAt | date('d.m.Y') }}

                                {# Ilość komentarzy #}
                                <i class="fa fa-comment"></i>
                                {{ article.nonDeletedComments | length }}
                            </p>
                        </div>
                        <div class="clearfix">
                            {# Przycisk "Czytaj dalej ->" przekierowujący do konkretnego artykułu #}
                            <a class="btn btn-light float-right" href="{{ path('app_article', {slug: article.slug}) }}">
                                Czytaj dalej &rarr;
                            </a>
                        </div>
                        <hr>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>

    {# Paginacja na stronie #}
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="pagination justify-content-center">

                    {# Renderowanie knp_paginator #}
                    {{ knp_pagination_render(pagination) }}

                </ul>
            </div>
        </div>
    </div>
{% endblock %}