{% block body %}
<!-- Widok odpowiedzialny za wyświetlanie komentarzy -->
  <!-- Sekcja komentarzy -->
  <comment>
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <hr>
          <small>
          <!-- Wyświetlanie ilości komentarzy -->
              {{ article.comments | length}}
              {% if (article.comments | length ) == 1 %}
                <i>Komentarz</i>   
              {% elseif (article.comments | length) in range(2, 3) %}
                <i>Komentarze</i>
              {% else %}
                <i>Komentarzy</ii>
              {% endif %}
              </small>
          <br><br>
        </div>
      </div>
    </div>
    {% if (article.comments | length) >= 1 %}
    <!-- Pętla, która zapętla komentarze -->
    {% for comment in comments %}
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-start">
        <!-- Wyświetlanie danych autora -->
          <small>{{ comment.authorName }} {{ comment.authorForname }}</small>
        </div>
        <div class="col d-flex justify-content-end">
        <!-- Wyświetlanie daty dodania komentarza -->
          <small>{{ comment.createdAt | date('d.m.Y') }}</small>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col">
              <small>
              <!-- Wyświetlanie treści komentarza -->
                {{ comment.content }}
              </small>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </comment>
{% endblock %}
