{# Widok odpowiedzialny za wyświetlanie komentarzy #}
{# Blok <body> strony #}
{% block body %}

    {# Kontener komentarzy  #}

    <comment>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <hr>
                    <small>
                        {# Wyświetlanie ilości komentarzy #}
                        {{ article.nonDeletedComments | length }}

                        {# Warunek sprawdza ile jest komentarzy #}
                        {# Wyświetla odpowiedno: Komentarz, Komentarze lub Komentarzy #}

                        {# Jeżeli jest 1 komentarz #}
                        {% if (article.nonDeletedComments | length ) == 1 %}

                            <i>Komentarz <i class="fas fa-comment"></i></i>

                            {# Jeżeli są dwa lub cztery  komentarze #}
                            {# i nie jest w granicach od 11 do 21 to wyświetla się: Komentarze #}
                            {# Warunek sprawdzalem na https://twigfiddle.com/ #}
                        {% elseif ((article.nonDeletedComments | length) | last ) in range(2, 4) and (article.nonDeletedComments | length)  not in range(11, 21) %}

                            <i>Komentarze <i class="fas fa-comments"></i></i>

                            {# Jeżeli jest wiecej komentarzy #}
                        {% else %}

                            <i>Komentarzy <i class="fas fa-comments"></i></i>

                            {# Koniec warunku #}
                        {% endif %}
                    </small>
                    <hr>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        {{ form_start(commentForm) }}
                        {{ form_row(commentForm.content, {
                            attr: { placeholder: 'Dołącz do dyskusji...', }
                        }) }}
                        <div class="text-left">

                            {{ form_row(commentForm.skomentuj, {
                                'attr': {'class': 'btn btn-light'}
                            }) }}
                        </div>

                        {{ form_end(commentForm) }}
                    </div>
                </div>
            </div>

        {% endif %}

        {# Pętla, która zapętla komentarze #}
        {% if (article.nonDeletedComments | length ) >= 1 %}
            {% for comment in article.nonDeletedComments %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 mx-auto">
                            <small>
                                <table>
                                    <tr>
                                        <td>
                                            {{ comment.authorFirstName }}
                                            {{ comment.authorLastName }}
                                            |
                                            {{ comment.createdAt | date('d.m.Y') }}
                                            |
                                        </td>
                                        {% if is_granted('ROLE_USER') %}
                                        <td>
                                            <form method="get" action="{{ path('app_comment_report')}}">
                                                <input class="form-control"
                                                       type="hidden"
                                                       name="commentID" value="{{ comment.id }}"
                                                >
                                                <button type="submit"
                                                        class="fa fa-exclamation-circle"
                                                        style="background-color: transparent;
                                                           border-color: transparent;
                                                           box-shadow: none;"
                                                ></button>
                                            </form>
                                        </td>

                                        {% if (user_id) is same as (comment.author.id) %}
                                                <td>
                                                    {#
                                            <a href="{{ path('app_account') }}" style="text-decoration: none">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                                    #}
                                            <form  method="get" action="{{ path('app_comment_edit') }}">
                                                <input class="form-control"
                                                       type="hidden"
                                                       name="commentID" value="{{ comment.id }}"
                                                >
                                                {# BUTTON DO EDYCJI #}
                                                <button type="submit"
                                                        class="fa fa-edit"
                                                        style="background-color: transparent;
                                                           border-color: transparent;
                                                           box-shadow: none;"
                                                ></button>
                                            </form>
                                        </td>
                                                <td>
                                            <form method="get" action="{{ path('app_comment_delete', {slug: article.slug}) }}">
                                                <input class="form-control"
                                                       type="hidden"
                                                       name="commentID" value="{{ comment.id }}"
                                                >
                                                <button type="submit"
                                                        class="fa fa-trash-o"
                                                        style="background-color: transparent;
                                                           border-color: transparent;
                                                           box-shadow: none;"
                                                ></button>
                                            </form>
                                                    {#
                                                     <a href="{{ path('app_account') }}" style="text-decoration: none">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                                    #}


                                        </td>
                                            {% endif %}


                                        {% endif %}
                                    </tr>

                                </table>

                            </small>
                        </div>
                        <hr>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-8 col-md-10 mx-auto">
                                    <small>
                                        {# Wyświetlanie treści komentarza, 'raw' nie wyświetla znaczników html, a już odpowiednio sformatowany tekst #}
                                        {{ comment.content | raw }}
                                    </small>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </comment>
{% endblock %}
