{# Widok odpowiedzialny za wyświetlanie komentarzy #}
{# Blok <body> strony #}
{% block body %}

    {# Kontener komentarzy  #}
    <comment>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <hr>
                    <small>
                        {# Wyświetlanie ilości komentarzy #}
                        {{ article.nonDeletedComments | length }}

                        {# Warunek sprawdza ile jest komentarzy #}
                        {# Wyświetla odpowiedno: Komentarz, Komentarze lub Komentarzy #}

                        {# Jeżeli jest 1 komentarz #}
                        {% if (article.nonDeletedComments | length ) == 1 %}

                            <i>Komentarz</i>

                            {# Jeżeli są dwa lub cztery  komentarze #}
                            {# i nie jest w granicach od 11 do 21 to wyświetla się: Komentarze #}
                            {# Warunek sprawdzalem na https://twigfiddle.com/ #}
                        {% elseif ((article.nonDeletedComments | length) | last ) in range(2, 4) and (article.nonDeletedComments | length)  not in range(11, 21) %}

                            <i>Komentarze</i>

                            {# Jeżeli jest wiecej komentarzy #}
                        {% else %}

                            <i>Komentarzy</i>

                            {# Koniec warunku #}
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>

        {# Pętla, która zapętla komentarze #}
        {% if (article.nonDeletedComments | length ) >= 1 %}
        {% for comment in article.nonDeletedComments %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5 mx-auto">
                        <small>
                            <i>
                                {# Wyświetlanie nazwy  autora komentarza #}
                                {{ comment.authorFirstName }}
                                {{ comment.authorLastName }}
                                |
                                {# Wyświetlanie daty dodania komentarza  #}
                                {{ comment.createdAt | date('d.m.Y') }}
                            </i>
                        </small>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <small>
                                    {# Wyświetlanie treści komentarza, 'raw' nie wyświetla znaczników html, a już odpowiednio sformatowany tekst #}
                                    {{ comment.content | raw }}
                                </small>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </comment>
{% endblock %}
