<!doctype html>
<html lang="en">

{{ include('head/head.html.twig') }}
<title>
    {% block title %}
        Cyberbezpiecznyblog
    {% endblock %}
</title>

<body>
<!-- Navigation -->
{% block nav %}
{{ include('navbar/navbar.html.twig') }}
{% endblock %}

{% block body %}
{% endblock %}

<!-- Footer -->
{{ include('footer/footer.html.twig') }}

{% block javascripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('build/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('build/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ asset('build/js/clean-blog.min.js') }}"></script>
{% endblock %}
</body>
</html>
