{# Widok odpwiedzialny za edycję artykułu #}
{# Blok rozszerzający bazę widoków #}
{% extends 'base.html.twig' %}

{# Blok wyświetlający tytuł artykułu #}
{% block title %}
    Edycja artykułu | Cyberbezpiecznyblog
{% endblock %}

{# Blok wyświetlający <body> strony #}
{% block body %}

    {# Nagłówek artukyłu #}
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Edytuj artykuł</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col text-center">

                {{ form_start(articleForm) }}
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form_row(articleForm.title, {
                            attr: { placeholder: 'Tytuł' }
                        }) }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form_row(articleForm.subtitle, {
                            attr: { placeholder: 'Podtytuł' }
                        }) }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">

                            {{ form_row(articleForm.content ) }}
                            <br>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                <br>
                <div class="control-group">
                    <div class="form-group">
                        {{ form_row(articleForm.aktualizuj, {
                            'attr': {'class': 'btn btn-light'}
                        }) }}
                    </div>
                </div>
                {{ form_end(articleForm) }}

            </div>
        </div>
    </div>

    <hr>
{% endblock %}
