{# Widok odpwiedzialny za wyświetlanie artykułu #}
{# Blok rozszerzający bazę widoków #}
{% extends 'base.html.twig' %}

{# Blok wyświetlający tytuł artykułu #}
{% block title %}
    {{ article.title }} | Cyberbezpiecznyblog
{% endblock %}

{# Blok wyświetlający <body> strony #}
{% block body %}

    {# Blok implementujący style css #}
    {% block stylesheets %}
        <link href="{{ asset('build/css/article.css') }}" rel="stylesheet">
    {% endblock %}

    {# Nagłówek artukyłu #}
    <header class="masthead">
        <div class="overlay"></div>
            <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>
                            {# Tytuł artykułu #}
                            {{ article.title }}
                        </h1>
                        <h2 class="subheading">
                            {# Podtytuł artykułu #}
                            {{ article.subtitle }}
                        </h2>
                        <span class="meta">
                            {# Autor artykułu #}
                            {{ article.author.firstname }}
                            {{ article.author.lastname }}
                            |
                            {# Data dodania artykułu #}
                            {{ article.publishedAt | date('d.m.Y') }}
                        </span>
                        <span class="article-details">
                        <span class="js-like-article-count">
                            {{ article.likes }}
                        </span>
                            <i class="fa fa-heart" style="color: red"></i><br>

                            <a href="{{ path('app_article_like', {slug: article.slug}) }}"
                               class="fa fa-thumbs-up js-like-article"
                               style="text-decoration: none; color: green;"
                               aria-hidden="true"
                               id="like"></a>

                            <a href="{{ path('app_article_unlike', {slug: article.slug}) }}"
                               class="fa fa-thumbs-down js-unlike-article" style="text-decoration: none;
                               color: red;"
                               aria-hidden="true" id="unlike"></a>
                            {# Zgłaszanie artykulu #}
                            <a href="{{ path('app_article_report', {slug: article.slug}) }}"><i>Zgłoś</i></a>
                        </span>
                    </div>
                </div>
            </div>
            </div>
    </header>






    {# Artykuł #}
    <article>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {# Zawartość artykułu, 'raw' gwarantuje poprawne wyświetlenie bez znaczników #}
                    {{ article.content | raw }}
                </div>
            </div>
            {# EDYCJA ARTYKULU #}
            {#
             Petla warunkowa sprawdzajaca
             czy uzytkownik jest zalogowany
             czy uzytkownik jest autorem artykulu
            #}
            {% if is_granted('ROLE_USER') and (user_id) is same as (article.author.id) %}
                <div class="row">
                    <div class="col text-center">
                        <hr>
                        <a href="{{ path('app_article_edit', {slug: article.slug}) }}">
                            <button class="btn btn-light">
                                Edytuj
                            </button>
                        </a>
                        <hr>
                    </div>
                </div>
            {% endif %}
        </div>
    </article>
    {# Komentowanie artykułu #}
    {% if is_granted('ROLE_USER') %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ form_start(commentForm) }}
                    {{ form_row(commentForm.content, {
                        attr: { placeholder: 'Napisz swój komentarz...', }
                    }) }}
                    <div class="text-center">

                        {{ form_row(commentForm.skomentuj, {
                            'attr': {'class': 'btn btn-light'}
                        }) }}
                    </div>

                    {{ form_end(commentForm) }}
                </div>
            </div>
        </div>

    {% endif %}
    {# Sekcja komentarzy #}
    {% include 'article_comments/article_comments.html.twig' %}

{% endblock %}
    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('build/js/article_like.js') }}"></script>
        <script src="{{ asset('build/js/article_unlike.js') }}"></script>
    {% endblock %}