{% extends 'base.html.twig' %}

{% block title %} tytul artykulu{# article.title #} {% endblock %}

{% block body %}

<body>
{% block stylesheets  %}
    <link href="{{ asset('build/css/article.css') }}" rel="stylesheet">
{% endblock  %}
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="post-heading">
            <h1>{{ article.title }}</h1>
            <h2 class="subheading">podtytul artykulu{# article.subtitle #}</h2>
            <span class="meta">Dodał(a)
              <a href="#">imie i nazwisko{# article.author.imie #} {# article.author.nazwisko #}</a>
              data publikacji{# article.publishedAt | date('d.m.Y')#}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Article Content -->
  <article>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto ">
          {{ article.content | raw}}
        </div>
      </div>
        <!-- petla warunkowa sprawdzajaca
         czy uzytkownik jest zalogowany
         czy uzytkownik jest autorem artykulu -->
       {# {% if is_granted('ROLE_USER') and (user_id) is same as (article.author.id) %}#}
        <div class="row">
            <div class="col text-center">
                <hr>
                <a href="{# path('app_article_edit', {slug: article.slug}) #}">
                    <button class="btn btn-light">
                        Edytuj
                    </button>
                </a>
            </div>
        </div>
       {# {% endif %}#}
    </div>
  </article>
    {#
  {% if is_granted('ROLE_USER') %}
  {{ form_start(commentForm)}}
  {{ form_row(commentForm.content, {
      attr: { placeholder: 'Napisz swój komentarz...'}
  }) }}
  {{ form_end(commentForm) }}
{% endif %}
#}



  <!-- Sekcja komentarzy -->
{% include 'article_comments/article_comments.html.twig' %}
</body>

{% endblock %}
