{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}

<body>
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="post-heading">
            <h1>{{ article.title }}</h1>
            <h2 class="subheading">{{ article.subtitle }}</h2>
            <span class="meta">Dodał(a)
              <a href="#">{{ article.author.imie }} {{ article.author.nazwisko }}</a>
              {{ article.publishedAt | date('d.m.Y')}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Article Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col">
          {{ article.content }}
        </div>
      </div>
    </div>
  </article>
  <!-- Sekcja komentarzy -->
  <comment>
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <hr>
              <i>8 Komentarzy</i>
          <br><br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <small>Autor autor</small>
        </div>
        <div class="col d-flex justify-content-end">
          <small>Data dodania</small>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col">
              <small>
                Błąd mógł dotyczyć w zasadzie każdej dystrybucji,
                bo każdą można skonfigurować tak,
                by podatność była potencjalnie dokuczliwa -
                jednak trudno sobie taką sytuację wyobrazić (że ktoś przeprowadza taką konfigurację)
                w przypadku większości desktopowych dystrybucji Linuksa używanych w normalnych warunkach.
              </small>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #1-->
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <small>Autor autor</small>
        </div>
        <div class="col d-flex justify-content-end">
          <small>Data dodania</small>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col">
              <small>
                Błąd mógł dotyczyć w zasadzie każdej dystrybucji,
                bo każdą można skonfigurować tak,
                by podatność była potencjalnie dokuczliwa -
                jednak trudno sobie taką sytuację wyobrazić (że ktoś przeprowadza taką konfigurację)
                w przypadku większości desktopowych dystrybucji Linuksa używanych w normalnych warunkach.
              </small>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #2-->
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <small>Autor autor</small>
        </div>
        <div class="col d-flex justify-content-end">
          <small>Data dodania</small>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col">
              <small>
                Błąd mógł dotyczyć w zasadzie każdej dystrybucji,
                bo każdą można skonfigurować tak,
                by podatność była potencjalnie dokuczliwa -
                jednak trudno sobie taką sytuację wyobrazić (że ktoś przeprowadza taką konfigurację)
                w przypadku większości desktopowych dystrybucji Linuksa używanych w normalnych warunkach.
              </small>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #3-->
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <small>Autor autor</small>
        </div>
        <div class="col d-flex justify-content-end">
          <small>Data dodania</small>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col">
              <small>
                Błąd mógł dotyczyć w zasadzie każdej dystrybucji,
                bo każdą można skonfigurować tak,
                by podatność była potencjalnie dokuczliwa -
                jednak trudno sobie taką sytuację wyobrazić (że ktoś przeprowadza taką konfigurację)
                w przypadku większości desktopowych dystrybucji Linuksa używanych w normalnych warunkach.
              </small>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #4-->
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <small>Autor autor</small>
        </div>
        <div class="col d-flex justify-content-end">
          <small>Data dodania</small>
        </div>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col">
              <small>
                Jupiter już ci odpowiedział. Ja od siebie,
                jako osoby od kilku ładnych lat używającej WYŁĄCZNIE platformy FOSS do pracy zawodowej dodam,
                że ilekroć słyszę o 'hipsterskiej gadce,
                sweterkach i klepaniu programików po godzinach dla idei li tylko' to mam 100% pewności,
                ze rozmawiam z kimś, kto wypowiada się na tematy,
                o których nie ma zielonego pojęcia...
              </small>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Your comments" />
                </div>
                <div class="form-group">
                  <button class="btn btn-default">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </comment>
  <hr>
</body>

{% endblock %}
