{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}

<body>
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.title }}</h1>
            <h2 class="subheading">{{ article.subtitle }}</h2>
            <span class="meta">Dodał(a)
              <a href="#">{{ article.author.imie }} {{ article.author.nazwisko }}</a>
              {{ article.publishedAt | date('d.m.Y')}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Article Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ article.content }}
        </div>
      </div>
        <!-- petla warunkowa sprawdzajaca
         czy uzytkownik jest zalogowany
         czy uzytkownik jest autorem artykulu -->
        {% if is_granted('ROLE_USER') and (user_id) is same as (article.author.id) %}
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto text-center">
                <hr>
                <a href="{{ path('app_article_edit', {slug: article.slug}) }}">
                    <button class="btn btn-light">
                        Edytuj
                    </button>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
  </article>
  <hr>
</body>

{% endblock %}
