{# Widok odpwiedzialny za wyświetlanie artykułu #}
{# Blok rozszerzający bazę widoków #}
{% extends 'base.html.twig' %}

{# Blok wyświetlający tytuł artykułu #}
{% block title %}
    {{ article.title }} | Cyberbezpiecznyblog
{% endblock %}

{# Blok wyświetlający <body> strony #}
{% block body %}

    {# Blok implementujący style css #}
    {% block stylesheets %}
        <link href="{{ asset('build/css/article.css') }}" rel="stylesheet">
    {% endblock %}

    {# Nagłówek artukyłu #}
    <header class="masthead">
        <div class="overlay"></div>
            <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>
                            {# Tytuł artykułu #}
                            {{ article.title }}
                        </h1>
                        <h2 class="subheading">
                            {# Podtytuł artykułu #}
                            {{ article.subtitle }}
                        </h2>
                        <span class="meta">
                            {# Autor artykułu #}
                            {{ article.author.firstname }}
                            {{ article.author.lastname }}
                            |
                            {# Data dodania artykułu #}
                            {{ article.publishedAt | date('d.m.Y') }}
                            |
                            {% if is_granted('ROLE_USER') and (user_id) is same as (article.author.id) %}
                                <a href="{{ path('app_article_edit', {slug: article.slug}) }}"
                                   style="text-decoration: none; cursor: pointer;"
                                   data-toggle="tooltip"
                                   title="Edytuj"
                                >
                                    <i class="fa fa-edit"></i>
                                </a>
                            {% endif %}
                            {# Zgłaszanie artykulu #}
                            <a href="{{ path('app_article_report', {slug: article.slug}) }}"
                               style="text-decoration: none; cursor: pointer;"
                               data-toggle="tooltip"
                               title="Zgłoś"

                            >
                                <i class="fa fa-exclamation"></i>
                            </a>

                            </span>
                        <span class="likes">
                            {{ article.likes }}
                        </span>
                            {#====== POLUBIENIE ARTYKUŁU =====#}
                        <span>
                            <a href="" class="fa {{ isLiked == 'false' ? 'fa-heart-o' : 'fa-heart' }} like"
                               like-href="{{ path('app_article_like', {id: article.id}) }}"
                               unlike-href="{{ path('app_article_unlike', {id: article.id}) }}"
                               {#polubiony czy nie#}
                               value="{{ isLiked }}"
                                      style="color: red; text-decoration: none;"
                                >
                                </a>
                            </span>
                    </div>
                </div>
            </div>
            </div>
    </header>
    {# Artykuł #}
    <article>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {# Zawartość artykułu, 'raw' gwarantuje poprawne wyświetlenie bez znaczników #}
                    {{ article.content | raw }}
                </div>
            </div>
        </div>
    </article>
    {# Komentowanie artykułu #}
    {# Sekcja komentarzy #}
    {% include 'article_comments/article_comments.html.twig' %}

{% endblock %}
    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('build/js/article_like.js') }}"></script>
        <script src="{{ asset('build/js/article_unlike.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">


            $(document).ready(function () {
                // when the user clicks on like
                $('.like').click(function (e) {
                    e.preventDefault(); // unikanie reddirect
                    //pobranie atrybutu value
                    const isChecked = this.getAttribute('value');
                    //stan startowy url po to zeby byla zmienna zeby sie nie rozjebalo
                    let url = '';
                    let likesValue = parseInt($('.likes').eq(0).html());

                    // spradzam czy polubione i przypisuje odpowiedniego route
                    if (isChecked === 'true') {
                        url = this.getAttribute('unlike-href');
                        const likes = likesValue - 1;
                        $('.likes').eq(0).text(likes);
                    } else {
                        url = this.getAttribute('like-href');
                        const likes = likesValue + 1;
                        $('.likes').eq(0).text(likes);
                    }


                    // zmiana value jak like to true jak unlike to false
                    this.setAttribute('value', isChecked === 'true' ? 'false' : 'true');

                    // zmiana serduczka z otwartego na zamkniete
                    const $link = $(e.currentTarget);
                    $link.toggleClass('fa-heart-o').toggleClass('fa-heart');

                    $.ajax({
                        method: 'POST',
                        url: url
                    }).done(function(data) {
                        $('.likes').html(data.likes);

                    });
                });
            });


        </script>
        <script type="text/javascript">

            $(document).ready(function () {
                // when the user clicks on like
                $('.unlike').click(function (e) {
                    //e.preventDefault();

                    var $link = $(e.currentTarget);
                    $link.toggleClass('fa-heart').toggleClass('fa-heart-o');

                    $.ajax({
                        method: 'POST',
                        url: $link.attr('href')
                    }).done(function(data) {
                        //$('.likes').html(data.hearts);
                    });

                    $('.unlike').addClass('like');
                    $('.unlike').removeClass('unlike');
                })

            });

        </script>
    {% endblock %}