{% extends 'base.html.twig' %}

{% block title %}Napisz | Cyberbezpiecznyblog{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Napisz coś</h1>
                        <span class="subheading">Związanego z bezpieczeństwem w sieci</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto text-center">
                <p>Opublikuj artykuł dotyczący Cyberbezpieczeństwa</p>
                
                    {{ form_start(articleForm) }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {{ form_row(articleForm.title, {
                               attr: { placeholder: 'Tytuł' }
                            }) }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form_row(articleForm.subtitle, {
                            attr: { placeholder: 'Podtytuł' }
                        }) }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {{ form_row( articleForm.content ) }}
                            <br>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                <br>
                    <div class="form-group">
                        {{ form_row(articleForm.publikuj, {
                            'attr': {'class': 'btn btn-light'}
                        }) }}
                    </div>
                    {{ form_end(articleForm) }}
                    
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
